* {
    primary: #ffffff;
    primary-fixed: #6a6a6a;
    primary-fixed-dim: #525252;
    on-primary: #1b1b1b;
    on-primary-fixed: #ffffff;
    on-primary-fixed-variant: #f7f7f7;
    primary-container: #d4d4d4;
    on-primary-container: #000000;
    secondary: #c6c6c6;
    secondary-fixed: #c6c6c6;
    secondary-fixed-dim: #ababab;
    on-secondary: #1b1b1b;
    on-secondary-fixed: #161616;
    on-secondary-fixed-variant: #393939;
    secondary-container: #525252;
    on-secondary-container: #ffffff;
    tertiary: #e2e2e2;
    tertiary-fixed: #6a6a6a;
    tertiary-fixed-dim: #525252;
    on-tertiary: #1b1b1b;
    on-tertiary-fixed: #ffffff;
    on-tertiary-fixed-variant: #f7f7f7;
    tertiary-container: #919191;
    on-tertiary-container: #000000;
    error: #ffb4ab;
    on-error: #660004;
    error-container: #a7060f;
    on-error-container: #ffffff;
    surface: #131313;
    on-surface: #e2e2e2;
    on-surface-variant: #c6c6c6;
    outline: #919191;
    outline-variant: #525252;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e2e2e2;
    inverse-on-surface: #303030;
    inverse-primary: #5e5e5e;
    surface-dim: #131313;
    surface-bright: #3b3b3b;
    surface-container-lowest: #0d0d0d;
    surface-container-low: #1c1c1c;
    surface-container: #212121;
    surface-container-high: #2c2c2c;
    surface-container-highest: #363636;
}
